# Порты, которые будет слушать Docker на хост-машине (127.0.0.1)
# Именно на них нужно будет настраивать Nginx proxy_pass

FRONTEND_PORT=3000
BACKEND_PORT=8000

# Пароль для /admin. В production обязателен.
ADMIN_PASSWORD=change-me
